<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    方式三：-->
    <bean id="annotationPointCut" class="com.mrh.diy.AnnotationPointCut"/>
<!--    开启注解支持-->
    <aop:aspectj-autoproxy />
<!--注册bean-->
   <bean id="userService" class="com.mrh.service.UserServiceImpl"/>
   <bean id="log" class="com.mrh.log.Log"/>
   <bean id="afterLog" class="com.mrh.log.AfterLog"/>
<!--    方式一：使用原生的api接口-->
<!--   配置aop
    <aop:config>
&lt;!&ndash;        切入点 expression：表达式， execution（要执行的位置&ndash;&gt;
        <aop:pointcut id="pointcut" expression="execution(* com.mrh.service.UserServiceImpl.*(..))"/>

        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>

    </aop:config>-->
<!--    方式二：自定义类-->
    <bean id="diy" class="com.mrh.diy.DiyPointCut"/>

<!--    <aop:config>
        <aop:aspect ref="diy">
&lt;!&ndash;            切入点&ndash;&gt;
            <aop:pointcut id="point" expression="execution(* com.mrh.service.UserServiceImpl.*(..))"/>
&lt;!&ndash;            通知&ndash;&gt;
            <aop:before method="befor" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>-->

</beans>